.capture {
  width: 600px;
  position: absolute;
  left: -1000px;

  @at-root {
    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border: 15px solid #b3bceb;
      padding: 20px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-comic-title {
      font-size: 1.1em;
      line-height: 1.5em;
      width: 270px;
      margin: 10px 0;
    }

    &-volume-number {
      width: 50px;
      margin-right: 5px;
      margin-left: 15px;
    }

    &-emotions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px 0;
    }

    &-field {
      position: relative;
      margin: 1.5em 0;
      padding: 0.5em 1em;
      border: solid 3px #b3bceb;
      border-radius: 8px;
      width: 530px;

      &-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #FFF;
        color: #b3bceb;
        font-weight: bold;
      }
    }

    &-report {
      width: 100%;
      margin: 10px 0;
      text-align: left;
      line-height: 2em;
      letter-spacing: 1px;
      word-wrap: break-word;
      white-space: pre-wrap;
      min-height: 5em;
    }

    &-tag {
      font-size: 1em;
      margin-right: 5px;
    }

    &-rating-text {
      color: #FFCD66;
      font-weight: bold;
    }
  }
}
