.post-form {
  display: flex;
  justify-content: center;

  @at-root {
    &-title {
      text-align: center;
    }

    &-container {
      width: 95%;
    }

    &-fluid {
      width: calc(100% - 20px);
    }

    &-emotions {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-emotions-field {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-emotions-label {
      width: 80px;
    }

    &-emotions-item {
      width: 50%;
    }

    &-button {
      width: 100%;
      -webkit-appearance: none;
    }

    &-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;
      overflow-y: auto;
      background-color:rgba(255,255,255,0.8);
    }

    &-comic-title-form {
      position: relative;

      &-suggest {
        position: absolute;
        top: 60px;
        border: 1px solid #dde5ee;
        background-color: #fff;
        z-index: 1000;
      }
    }

    &-suggest-item {
      border: 1px solid #dde5ee;
      padding: 10px 5px;
      margin: 0;
      width: 250px;
      font-size: 0.9em;
      cursor: pointer;

      &:hover {
        background-color: #e7f9fe;
      }
    }
  }
}
