.top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #b3bceb;
  padding: 20px 0;

  @at-root {
    &-message {
      width: 100%;
      text-align: center;
      font-size: 1.3em;
      line-height: 1.5;
      color: #fff;
    }

    &-eye-catch {
      text-align: center;
    }

    &-eye-catch-image {
      display: block;
      width: 100%;
      max-width: 500px;
      height: auto;
    }

    &-use-guide {
      margin: 0 auto;
    }
  }
}
