.top {
  height: 100vh;
  background-image: url('../images/top_backscreen.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @at-root {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  }
}

@media screen and(max-width: 480px) {
  .top-logo-image {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
