<section class="top mb-30">
  <p class="top-message">
    さっき読んだ漫画の感想、<br />
    みんなにシェアしませんか？
  </p>
  <div class="top-eye-catch">
    <%= image_tag asset_pack_path('images/top_image.png'), class: 'top-eye-catch-image' %>
    <a href="#" class="siimple-btn siimple-btn--blue">使い方はこちら</a>
  </div>
</section>
