@font-face {
  font-family: 'RiiPopkkR';
  src: url('./fonts/RiiPopkkR.otf') format('opentype');
}

html,body {
  font-family: 'RiiPopkkR';
  height: 100;
}

.siimple-input,.siimple-textarea {
  font-size: 16px;
}
