@font-face {
  font-family: 'RiiPopkkR';
  src: url('./fonts/RiiPopkkR.otf') format('opentype');
}

* {
  font-family: 'RiiPopkkR';
}

html,body {
  height: 100;
}

.siimple-input,.siimple-textarea {
  font-size: 16px;
}

.field_with_errors>input,
.field_with_errors>select,
.field_with_errors>textarea {
  background-color: #f8beb9;
}

.hide {
  display: none;
}
