<div class="container">
  <h1>利用規約</h1>
  <p>
    当利用規約は、『まんがのおばけ~漫画感想シェアサービス~』の閲覧および利用について、利用者と管理者との間の基本的な事項を定めるものとします。
  </p>

  <h3>1.定義</h3>
  <div>
    本利用規約において使用する用語の定義は、次のとおりとします。<br>

    <p>(1)本サービス…『まんがのおばけ~漫画感想シェアサービス~』が提供するコンテンツ、およびそれら全てに関連したサポートを指します。</p>
    <p>(2)利用者…『まんがのおばけ~漫画感想シェアサービス~』を閲覧および利用する全ての方を指します。</p>
    <p>(3)管理者…『まんがのおばけ~漫画感想シェアサービス~』を運営する管理者を指します。</p>
  </div>


  <h3>2.適用および変更</h3>
  <div>
    <p>(1)本利用規約は、本サービスをご利用に関し、利用者および管理者に対し適用されます。利用者は本サービスを利用するにあたり、本利用規約を遵守するものとします。</p>
    <p>(2)管理者は、利用者の了承や事前の予告なく、本利用規約を改定、追加、変更をすることができるものとします。</p>
    <p>(3)変更後の規約は、本WEBサイト上に掲示した時点より効力が発生するものとします。</p>
  </div>

  <h3>3.サービスの利用料金</h3>
  <div>
    <p>(1)本サービスは無料でご利用いただけます。</p>
    <p>(2)通信料・各種パケット通信代は利用者が負担するものとします。</p>
  </div>


  <h3>4.禁止事項</h3>
  <div>
    以下、管理者が本サービスを運営・管理する上で、不適切もしくは好ましくないと判断する表現を発見した場合は、管理者は任意に感想記事を消去、または削除できるものとします。
    <p>①法令、条例および本利用規約に違反する行為及び違法な行為を勧誘または助長する行為</p>
    <p>②有害なプログラム等を含む書き込み、ネットワークシステムを妨害する行為</p>
    <p>③他人の名誉、信用、プライバシー権その他人格的な権利を侵害し又は侵害するおそれのある行為</p>
    <p>④他人の特許権、商標権、著作権その他の財産的な権利を侵害し又は侵害するおそれのある行為</p>
    <p>⑤中傷、脅迫、いやがらせ、その他経済的もしくは精神的損害または不利益を与える行為</p>
    <p>⑥民族・人種・性別・年齢等による差別につながる表現の掲載</p>
    <p>⑦暴力的、グロテスクな写真等、その他一般的に不快に感ずる画像、言語等表現の掲載</p>
    <p>⑧露出度の高い写真等、卑猥と判断される表現または画像の掲載（イラストや絵画等を含む）</p>
    <p>⑨卑猥と判断される表現、画像または映像のダウンロードサイト等へのリンク掲載</p>
    <p>⑩自殺、自傷行為、薬物乱用等を誘発・助長する恐れのある言葉、その他表現の掲載</p>
    <p>⑪選挙運動またはこれらに類似する行為及び公職選挙法に抵触する行為</p>
    <p>⑫商業用の広告、宣伝を目的としたコンテンツ等を掲載または送信、発信等する行為</p>
    <p>⑬営利を目的とした書き込み等、迷惑防止条例等に違反する行為</p>
    <p>⑭出会い等を誘導する行為及びマルチ・ネットワークビジネスへの勧誘等を行う行為</p>
    <p>⑮他人の個人情報を収集、蓄積する行為</p>
    <p>⑯その他公序良俗、一般常識に反する行為</p>
    <p>⑰上記各号に準ずる行為</p>
  </div>


  <h3>5.本サービス内容の非保証、変更および点検等</h3>
  <div>
    <p>(1)管理者は、管理者が合理的と判断する方法により、利用者が正常に本サービスを利用できるよう、可能な限り努力いたしますが、本サービスが利用者の要求水準や目的に適合するものであることを保証するものではありません。</p>
    <p>(2)管理者は本サービスを、事前の予告なく改定、追加、変更または廃止することができるものとします。</p>
    <p>(3)利用者は、システムの保守、点検等のため、又は、天災、通信回線の故障、その他の事情により、本サービスが、一時的または一定期間、利用できなくなることを予め承諾するものとします。</p>
  </div>


  <h3>6.アクセス制限および対応措置</h3>
  <div>
    <p>(1)利用者が前条の禁止事項に該当した場合、管理者の判断により、当該利用者の禁止行為発覚以降の本サービスへのアクセス、又は、利用を制限することがあります。</p>
    <p>(2)利用者が本利用規約に違反し、管理者に損害を与えた場合は、管理者は、当該違反利用者に対して、管理者に生じた一切の障害、損失及び費用の賠償を求めることができるものとします。</p>
    <p>(3)管理者は、違反利用者に関する情報を警察、裁判所及びこれらに準ずる団体に提出することができるものとします。</p>
  </div>


  <h3>7.著作権</h3>
  <div>
    <p>(1)利用者が本サービス内で書き込みした情報の著作権は、原則、書き込みしたり、投稿したりした利用者に帰属するものとします。</p>
    <p>(2)前項にもかかわらず、管理者は、利用者が書き込みしたり、投稿したりした情報を、管理者が提携した媒体・サービス（ホームページ、ブログ等名称を問いません）において、管理者が利用者もしくは第三者の権利を侵害しないよう必要な処理を行ったうえで、無償かつ非独占的に、出版・放送・複製・頒布・公衆送信等利用することができるものとします。また、利用者は、管理者に対して著作者人格権を行使しないものとします。</p>
    前2項に該当する場合を除き、本サービスに掲載されているコンテンツの著作権その他知的財産権（以下「著作権等」）は管理者に帰属します。利用者は、本サービスが提供するコンテンツの全部又は一部を、管理者の事前の承諾なしに、転載、複製、出版、放送、公衆送信等その他著作権等を侵害する行為行うこと、また第三者に行わせることはできません。
  </div>

  <h3>8.個人情報の取り扱い</h3>
  <div>
    <p>管理者は、本サービス上で個人情報を取り扱う際に、個人情報保護に関する諸法令、国が定める指針及び管理者のプライバシーポリシーで定めた事項を遵守いたします。</p>
  </div>

  <h3>9.免責事項</h3>
  <div>
    <p>(1)管理者は、利用者が本サービスの利用または利用不能から生じる損害について、その原因にかかわらず一切の責任を負わないものとします。</p>
    <p>(2)本サービス内のコンテンツに第三者が設置したサイト外部へのリンク及びその内容（合法性、道徳性、正確性、適切性、著作権の許諾や有無等）に関して、管理者は一切責任を負わないものとします。</p>
    <p>(3)管理者は、利用者と利用者との間で、本サービスを通して個人情報の開示等を行わないことをお薦めします。万一、利用者間で個人情報の提供もしくは授受がなされる場合は、利用者自身の自己の責任と判断においてなされることを条件とし、管理者は一切関知しないものとし、一切責任を負わないものとします。</p>
    <p>(4)管理者は、管理者が提供する情報やコンテンツ、並びに利用者の書き込み内容等について、その完全性、正確性、適用性、有用性等いかなる保証も行わないものとします。</p>
  </div>


  <h3>10.広告主との関係</h3>
  <div>
    <p>(1)利用者は、本サービス内で表示される広告主または他の販売業者のさまざまな販促行動等にクリックしたり、同意したり、リンクサイトを閲覧する行為は、利用者と該当広告主または販売業者との間の事項であることを確認します。</p>
    <p>(2)管理者は、当該広告主、リンクサイト、または本サービスを通じて利用者が接触する企業や業者のあらゆる行為について責任を負いません。</p>
  </div>

</div>
