<div class="top">
  <div class="top-container">
    <% unless logged_in? %>
      <%= link_to 'Twitterでログイン', '/auth/twitter', class: 'siimple-btn siimple-btn--blue' %>
    <% else %>
      <%= link_to 'ログアウト', '/logout', method: :delete, class: 'siimple-btn siimple-btn--red' %>
    <% end %>
  </div>
</div>
