<h1>Tweet</h1>

<% if logged_in? %>
  <%= link_to 'ログアウト', '/logout', method: :delete %>

  <%= form_with url: impressions_path, local: true do |form| %>
    <%= text_field_tag :text %>
    <%= submit_tag 'Tweet' %>
  <% end %>
<% end %>
